* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******** Container ******/
#container {
  width: 100%;
}

@font-face {
  font-family: Mario;
  src: url(../fontes/NewSuperMarioFontU.woff);
}

@font-face {
  font-family: fonte-retro;
  src: url(../fontes/PressStart2P-Regular.ttf);
}

/********* Cabeçalho *********/

#cabecalho {
  background: rgb(240, 80, 80);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  position: fixed;
  clear: both;
  z-index: 2;
  margin-bottom: px;
}

#mario-gif img {
  width: 110px;
  display: flex;
  position: relative;
  right: 300px;
}

/********** Barra de navegação **********/

a:link,
a:active,
a:visited {
  color: white;
}

a:hover {
  color: rgb(148, 31, 31);
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Mario;
  margin-left: 50px;
  font-size: 20px;
}

/*********Principal********/

#capa-home {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

/* Principal História */
#principal {
  display: flex;
  height: 450px;
  margin: 20px 0px 0 30px;
}

#conteudo p {
  margin: 0 0 5px 8px;
}

#capa {
  width: 500px;
}

section#capa {
  width: 520px;
  padding: 10px;
  margin: 20px 0px 20px 0px;
  background: rgba(235, 230, 230, 0.8);
  box-shadow: rgb(190, 177, 177) 1px 0px 5px 4px;
  display: flex;
  flex-direction: column;
}

#capa p {
  padding: 20px 0 10px 10px;
}

#principal {
  margin-bottom: 300px;
}

#video-mario {
  background: rgb(202, 104, 104);
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 600px;
  margin: 100px 0 0px 30px;
  padding: 20px;
}

#video-mario p strong {
  margin: 0 auto;
  margin: 10px 0 0 150px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: fonte-retro;
}

#mario-historia {
  display: flex;
  align-items: center;
  width: 650px;
  line-height: 1.5;
  font-size: 18px;
  margin-top: 150px;
}

#historia {
  display: flex;
}

/****** História Jogo ******/

#historia-jogo {
  display: flex;
  margin-top: 150px;
  justify-content: space-around;
}

#historia-jogo p {
  width: 370px;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
}

#historia-jogo img {
  width: 400px;
}

#historia-jogo #gif-antigo-mario {
  width: 40px;
  height: 40px;
  position: relative;
  left: 200px;
  top: 210px;
}

/********* História Filme ********/

#toadgif {
  width: 150px;
  height: 150px;
  position: relative;
  top: 80px;
  left: 300px;
}

#conteudo-filme {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 68px;
}

#historia-filme {
  width: 400px;
}

#historia-filme p {
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
}

#filme {
  background: rgb(202, 104, 104);
  box-shadow: rgb(190, 177, 177) 1px 0px 5px 4px;
  width: 500px;
  height: 750px;
  display: flex;
  flex-direction: column;
}

#filme p {
  padding: 10px;
  line-height: 1.5;
  text-align: justify;
}

#filme h3 {
  font: 30px Mario;
  background: rgb(152, 161, 245);
  width: 200px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 300px;
}

#filme h2 {
  font-family: Mario;
  background: rgb(152, 161, 245);
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

/******* SEÇÃO JOGOS *********/

.fundo-jogos {
  background: rgba(238, 237, 237, 0.61);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(190, 177, 177) 1px 0px 15px 1px;
}

#t-jogos {
  margin-top: 150px;
  margin-left: 80px;
  font-family: Mario;
  font-size: 30px;
}

#super-mario-world {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 50px;
  text-align: justify;
}

#super-mario-world #descricao {
  width: 555px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
  line-height: 1.6;
  margin-left: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
}

#super-mario-world a {
  text-decoration: none;
  color: blue;
  font-family: Mario;
  font-size: 15px;
  display: flex;
  align-items: center;
}

#super-mario-world a:hover {
  color: rgb(148, 31, 31);
}

#super-mario-world strong {
  font-family: fonte-retro;
  font-size: 12px;
}
#super-mario-world img {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
}

/******* Parte final - Jogo ******/

#kart img {
  width: 900px;
  height: 600px;
  box-shadow: rgb(190, 177, 177) 1px 0px 5px 4px;
}

#bonus-jogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: fonte-retro;
}

#mario-kart-world {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 100px 0;
}

#mario-kart-world img {
  box-shadow: rgb(190, 235, 241) 1px 0px 5px 5px;
}

#mario-kart-world #descricao {
  width: 500px;
  text-align: justify;
  line-height: 1.6;
}

#titulo-world {
  font-family: fonte-retro;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/********* Rodapé **********/

footer#rodape {
  width: 100%;
  background: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px Mario;
}

footer#rodape img {
  width: 100px;
}
