* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******** Container ******/
#container {
  width: 100%;
}

@font-face {
  font-family: Mario;
  src: url(../fontes/NewSuperMarioFontU.woff);
}

/********* Cabeçalho *********/

#cabecalho {
  background: rgb(240, 80, 80);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

#mario-gif img {
  width: 140px;
  display: flex;
  position: relative;
  right: 300px;
}

/********** Barra de navegação **********/

a:link,
a:active,
a:visited {
  color: white;
}

a:hover {
  color: rgb(148, 31, 31);
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Mario;
  margin-left: 50px;
  font-size: 20px;
}

/*********Principal********/

#principal {
  display: flex;
  justify-content: space-around;
}

#conteudo {
  display: flex;
  flex-direction: column;
  height: 430px;
  margin: 20px 0 0 100px;
}

#capa {
  width: 500px;
}

section#capa {
  width: 520px;
  padding: 10px;
  margin: 0 0 20px 20px;
  background: rgba(235, 230, 230, 0.8);
  box-shadow: rgb(190, 177, 177) 1px 0px 5px 4px;
  display: flex;
  flex-direction: column;
}

#capa p {
  padding: 20px 0 10px 15px;
}

aside#filme {
  background: rgb(202, 104, 104);
  box-shadow: rgb(190, 177, 177) 1px 0px 5px 4px;
  width: 500px;
  height: 920px;
  margin: 20px 0 50px 0;
  display: flex;
  flex-direction: column;
}

#filme p {
  padding: 10px;
}

#filme h3 {
  font: 30px Mario;
  background: rgb(152, 161, 245);
  width: 200px;
  border-radius: 50px;
  position: relative;
  text-align: center;
  bottom: 320px;
  left: 150px;
}

#filme h2 {
  font-family: Mario;
  margin-top: 15px;
  background: rgb(152, 161, 245);
  width: 300px;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}

footer#rodape {
  background: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px Mario;
}

footer#rodape img {
  width: 100px;
}
